.home{
    display: flex;
    .esquerda{
        width: 300px;
        transition: all 1s ease;
        background-color: $fundo-escuro;
        position: fixed;
        height: 100vh;
        z-index: 1;
        .logo{
            display: flex;
            align-items: center;
            background-color: #444b548c;
            padding: 20px;
            justify-content: space-between;
            .logo-s{
                display: flex;
                align-items: center;
                gap: 4px;
                img{
                    width: 28px;
                }
                span{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                }
            }
            .menu-line{
                display: flex;
                align-items: center;
                gap: 5px;
                flex-direction: column;
                cursor: pointer;

                span{
                    height: 2.5px;
                    width: 25px;
                    display: block;
                    background-color: #fff;
                    border-radius: 2px;
                    transition: all .5s ease;
                }
            }
            .change{

                #bar1  {
                    transform: translateY(4px) rotateZ(-45deg);

                  }
                #bar2{
                    transform: translateY(-4px) rotateZ(45deg);

                }
            }
        }
        .user{
            padding: 20px;
            text-align: center;
            color: #fff;
            img{
                height: 100px;
                width: 100px;
                object-fit: cover;
                border: 2px solid $login-botao;
                box-shadow: 2px 3px rgba(0,0,0,.1);
                border-radius: 50%;
            }
            h3{

            }
            .privi{
                background-color: #cdac0b;
                padding: 2px 6px;
                color: #1f212c;
                border-radius: 3px;
                font-size: 12px;
                font-weight: 400;
                display: block;
                width: fit-content;
                margin: 4px auto;
            }
            .operacoes{
                display: flex;
                align-items: center;
                gap: 15px;
                justify-content: center;
                margin: 8px 0;
                color: #adadad;
                .icon{
                    fill: #adadad;
                    cursor: pointer;
                    &:hover{
                        fill: #adadaddc;
                    }
                }
                span{
                    position: relative;
                    text-align: center;
                    .conf{
                        position: absolute;
                        background-color: #fff;
                        left: 50%;
                        width: 260px;
                        transform: translateX(-44%);
                        margin: 0 auto;
                        top: 30px;
                        display: block;
                        padding: 20px;
                        border-radius: 2px;
                        ul{
                            li{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-bottom: .7px solid #ccc;
                                padding: 14px 0;

                                &:nth-last-child(1){
                                    border:none;
                                    padding-bottom: 0;
                                }
                                span{
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;
                                    .icon{
                                        fill: #394164;
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    font-size: 16px;
                                    color: $fundo-escuro;
                                    &:hover{
                                        color: #394164;
                                    }
                                }
                                small{

                                    padding: 2px 6px;
                                    border-radius: 6px;
                                    &.op{
                                        background-color: #0b5bb9;
                                        color: #fff;
                                    }
                                    &.not{
                                        background-color: $login-botao;
                                        color: $fundo-escuro;
                                    }
                                }
                            }
                        }
                        &::before{
                            content: "";
                            height: 10px;
                            width: 10px;
                            position: absolute;
                            left: 43%;
                            background-color: #fff;
                            transform: rotate(45deg) translateX(-43%);;
                            display: block;
                            top: -2px;

                        }
                    }
                }

            }

        }
        .menus{
            ul{
                li{
                    padding: 12px 20px;
                    color: #fff;
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    cursor: pointer;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .icon{
                            fill: #fff;
                        }
                    }
                    .caxa-type{
                        padding: 1px 6px;
                        background-color: #198d32d7;
                        font-size: 12px !important;
                        border-radius: 2px;
                    }
                    .arrow{
                        margin-right: 0 !important;
                        fill: #fff;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                        font-size: 22px;
                        width: 100%;
                        display: block !important;
                        .icon{
                            fill:#fff
                        }
                    }
                    .icon{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .left{
        width: 100px;
        transition: all 1s ease;
        .logo{
            justify-content: center;
            .logo-s{
                img{
                    width: 30px;
                }
                span{
                    display: none;
                }
            }
            .change{
                display: none ;
            }
        }
        .user{
            padding-top: 30px;
            img{
                height: 50px;
                width: 50px;
            }
            h3{
                display: none;
            }
            .privi{
                display: none;
            }
            .operacoes{
                display: none;
            }

        }
        .menus{
            ul{
                li{
                    justify-content: center;
                    margin: 15px 0;
                    small{
                        display: none !important;
                    }
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .caxa-type{
                        display: none;
                    }
                    .arrow{
                        display: none;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .icon{
                        margin-right: 0px;
                        transform: scale(1.3);
                    }
                }
            }
        }
        &:hover.esquerda{
            width: 300px !important;
            overflow: hidden;
            .logo{
                justify-content: space-between;
                .logo-s{
                    img{
                        width: 30px;
                    }
                    span{
                        display: block;
                    }
                }
                .change{
                    display: flex;
                }
                        }
            .user{
                padding-top: 20px;
                img{
                    height: 100px;
                    width: 100px;
                }
                h3{
                    display: block;
                    white-space: nowrap;
                }
                .privi{
                    display: block;
                }
                .operacoes{
                    display: flex;
                }

            }
            .menus{
                ul{
                    li{
                        justify-content: space-between;
                        margin: unset;
                        white-space: nowrap;
                        small{
                            display: flex !important;
                        }
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        .caxa-type{
                            display: block;
                        }
                        .arrow{
                            display: block;
                        }
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            white-space: nowrap;
                        }
                        .icon{
                            margin-right: 10px;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    .direita{
        flex: 1;
        margin-left: 300px;;
        .cabecalho{
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .vol{
                display: flex;
                gap: 30px;
                height: 35px;
                align-items: center;

                .texto{

                   span{
                    display: flex;
                    align-items: center;;
                    gap: 10px;
                   }
                    .icon{
                        fill: #42505c;
                    }
                }
            }
            .botao-ver{
                background-color: #42505c;
                border-radius: 8px;
                display: flex;
                align-items: center;
                a,.back{
                    display: flex;
                    align-items: center;
                    padding: 6px 10px;
                    gap: 5px;
                    text-decoration: none;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                    .icon{
                        fill: #fff;
                    }
                }
                .back{
                    //padding: 8px 16px;
                    font-size: 14px;
                }
                &:hover{
                    background-color: #42505ce8;
                }
            }
            span{
                font-size: 20px;

            }
            p{
                font-size: 13px;
                font-weight: 300;
            }

        }
        .voltar{
            /* justify-content: flex-start !important;
            gap: 30px; */
            margin-top: 20px;
        }
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0 0;
            color: $fundo-escuro;
            .titulo{
                span{
                    font-size: 20px;

                }
                p{
                    font-size: 13px;
                    font-weight: 300;
                }
            }

            .notif{
                position: relative;;
                color: $fundo-escuro;
                cursor: pointer;
                small{
                    position: absolute;
                    background-color: $login-botao;
                    color: $fundo-escuro;
                    font-size: 12px;
                    padding: 1px 4px;
                    border-radius: 6px;
                    top: -10px;
                    right: -5px;
                }
            }
        }
        .volt{
            justify-content: flex-start;
            gap: 20px;
            a{
                padding: 6px 20px;
                background-color: #585656;
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                box-shadow: 0 .2px .3px 0 rgba(0,0,0,.1);
                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 10px;
                .icon{
                    fill: #fff;
                }
                &:hover{
                    background-color: #585656cc;
                }
            }
        }
        .dire{
            padding: 0 30px;

            .cab{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .pesq{
                    background-color: #fff;
                    width: 40%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 0 8px;
                    box-shadow: 0 .3px .4px 0 rgba(0,0,0,.1);
                    border-radius: 6px;
                    small{
                        background-color: #4fb5ff38;
                        height: 35px;
                        width: 35px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-shadow: 0 .3px .4px 0 rgba(0,0,0,.1);
                    }
                    input{
                        border: none;
                        outline: none;
                        padding: 15px 0;
                        font-size: 16px;
                        width: 100%;
                        flex: 1;
                    }
                    .btn{
                        background-color: #42505c;
                        color: #fff;
                        padding: 4px 10px;
                        border-radius: 4px;
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                        display: inline-flex;
                        align-items: center;
                        gap: 6px;
                        fill: #fff;
                        font-size: 16px;
                    }
                }
            }
            .page-user{
                height: 160px;
                background-color: #1f212c;
                padding: 20px 30px;
                display: flex;
                gap: 10px;
                color: #fff;
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                margin-top: 30px;
                .img{
                    display: flex;
                    gap: 6px;
                    width: 100%;
                    img{
                        height: 60px;
                        width: 60px;
                        object-fit: cover;
                        border: 2px solid $login-botao;
                        box-shadow: 2px 3px rgba(0,0,0,.1);
                        border-radius: 50%;

                    }
                    .info{
                        flex: 1;
                        h1{
                            font-size: 30px;
                        }
                        .notifi{
                            font-size: 14px;
                            gap: 5px;
                            display: flex;
                            align-items: center;
                            color: #adadad;
                            margin-bottom: 35px;
                            .icon{
                                fill: #adadad;
                            }
                            span{
                                background-color: $login-botao;
                                padding: 2px 6px;
                                color: #1f212c;
                                border-radius: 7px;

                            }
                        }
                        a{
                            width: fit-content;
                            text-decoration: none;
                        }
                        .btn{
                            padding: 6px 8px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-size: .9rem;
                            border-radius: 7px;
                            border:none;
                            cursor: pointer;
                            .icon{
                                fill: #fff;
                            }
                            &.m-dados{
                                background-color: #198d32d7;
                                color: #fff;
                                &:hover{
                                    background-color: #198d32b6;
                                }
                            }
                            &.m-op-dia{
                                background-color: #0766d3d7;
                                color: #fff;
                                &:hover{
                                    background-color: #0766d3b7;
                                }

                            }
                        }
                        .botoes{
                            flex: 1;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 8px;
                        }

                    }
                }


            }
            .page-estatisticas{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
                /* padding: 0 30px; */
                .esta-{
                    background-color: #fff;
                    box-shadow: 0 .2px .4px 0 rgba(0,0,0,.1);
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: unset;
                    padding: 20px;
                    .cab{

                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p{
                            font-size: .9rem;
                            font-weight: 500;
                            color: #394164;
                        }
                        span{
                            background-color: #4fb5ff38;
                            height: 30px;
                            width: 30px;
                            border-radius: 8px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .icon{
                                fill: #626991;

                            }
                        }

                    }
                    .value{
                        p{
                            color: #585656;
                            font-size: 3rem;
                            font-weight: 500;
                        }
                        a{
                            font-size: 14px;
                            color: $fundo-escuro;
                        }

                        .see{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            span{
                                font-size: 18px;
                                font-weight: 500;
                                small{
                                    color: #394164;
                                }
                            }
                        }
                    }
                    &:nth-child(2){
                        .value{

                            p{
                                color: #0bad49;
                            }
                            .see{
                                .img{
                                    display: flex;
                                    align-items: center;
                                    a{
                                        transition: all .5s ease;
                                        position: relative;
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                        margin-left: -10px;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 50%;
                                            border: 2px solid #fff;
                                            object-fit: cover;
                                        }
                                        span{
                                            position: absolute;
                                            top:-24px;
                                            background-color: #42505c;
                                            white-space: nowrap;
                                            left: 65%;
                                            color: #fff;
                                            border-radius: 3px;
                                            font-size: 12px;
                                            transform: translateX(-60%);
                                            padding: 2px 6px;
                                            display: none;
                                            &::after{
                                                content: "";
                                                height: 8px;
                                                width: 8px;
                                                position: absolute;
                                                left: 52%;
                                                background-color: #42505c;
                                                display: block;
                                                transform: rotate(45deg) translateX(-52%);
                                                z-index: -1;
                                            }
                                        }
                                        &:hover{
                                            transform: scale(1.2);
                                            z-index: 1;
                                            & span{
                                                display: block;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(3){
                        .value{

                            p{
                                color: #d36700;
                            }
                        }
                    }
                    &:nth-child(4){
                        .value{

                            p{
                                color: #087bc7;
                            }
                        }
                    }
                }
            }
            .paciente-trafego{

                table{
                    border-spacing: 1;
                    border-collapse: collapse;
                    background:white;
                    border-radius:6px;
                    overflow:hidden;
                   /*  max-width:800px; */
                    width:100%;
                    /* margin:0 auto; */
                    position:relative;

                    thead tr        {
                        height:40px;
                        background:#252733;
                        font-size:16px;
                        color: #fff;
                        text-align: left;
                        th{
                            padding: 0 10px;
                        }

                    }
                    tbody{
                        tr{
                            height:48px;
                            border-bottom:1px solid #E3F1D5;
                            &:last-child  { border:0; }
                            &:hover{
                                background-color: $background-color;
                                cursor: default;
                            }
                            td{
                                padding: 10px;
                                /* font-size: 15px; */
                                .estado,.oper,.cons,.exa{
                                    background-color: #d86100;
                                    color: #fff;
                                    padding: 6px 10px;
                                    border-radius: 4px;
                                    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                                    display: inline-flex;
                                    align-items: center;
                                    gap: 6px;
                                    fill: #fff;

                                }
                                .sim{
                                    background-color: #28942d;
                                }
                                .nao{
                                    background-color: #ed5151;
                                }
                                .op{
                                    background-color: #f85d15 !important;
                                }
                                .cons{
                                    background-color: #d86100;
                                }
                                .exa{
                                    background-color: #424242;
                                    &:hover{
                                        background-color: #424242d5;
                                    }
                                }
                                .oper{
                                    display: inline-flex;
                                    align-items: center;
                                    justify-content: center;
                                    fill: #fff;
                                    padding: 10px;
                                    background-color: #087bc7;
                                    margin-right: 8px;
                                    &:hover{
                                        background-color: #087bc7e1;
                                    }
                                }
                                a{
                                    color: initial;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .ad-consulta{
                margin: 30px 0 0;
                display: flex;
                gap: 20px;
                a,span{
                    background-color: #585656;
                    padding: 10px 20px;
                    text-decoration: none;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    cursor: pointer;
                    &:hover{
                        background-color: #494848;
                    }
                    &:nth-child(2){
                        background-color: #d36700;
                        &:hover{
                            background-color: #d36600da;
                        }
                    }
                    .icon{
                        fill: #fff;
                        transform: scale(1.1);
                        margin-right: 10px;
                        &.marc{
                            transform: scale(1.25);
                        }
                    }
                }
                .exa{
                    background-color: #087bc7;
                    &:hover{
                        background-color: #0571b9;
                    }
                }
            }
            .fazer-con{

                background-color: #fff;
                height: 300px;
                width: 100%;
            }
            .funcionarios-vendas{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 15px;
                .func-v{
                    background-color: #fff;
                    border-radius: 15px;
                    box-shadow: 0 .1px .2px 0 rgba(0,0,0,.1);
                    overflow: hidden;

                    height: 100%;

                    .dat{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        padding: 10px;
                        .img{
                            height: 50px;
                            width: 50px;
                            position: relative;
                            border-radius: 8px;
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                            overflow: hidden;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover
                            }
                        }
                        .us{
                            h3{
                                padding: 0 0 1px;
                                font-size: 16px;
                                font-weight: 500;
                                color: #394164
                            }
                            h6{

                                font-size: 14px;
                                font-weight: 300;
                                color: #394164
                            }
                        }
                    }


                    a{
                        background-color: #59758deb;
                        font-size: 16px;
                        color: #fff;
                        border-radius: 4px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        padding: 12px 10px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        fill: #fff;
                        /* width: max-content; */
                        margin: 0 auto;
                        &:hover{
                            background-color: #59758d;
                        }
                    }
                    .val{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 0 0 10px;
                        padding: 0 10px;
                        .cons{
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            font-size: 16px;
                            color: #394164;
                            small{
                                background-color: #4fb5ff38;
                                height: 30px;
                                width: 30px;
                                border-radius: 8px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                fill: #394164;
                            }
                        }
                        .numb-cons{
                            padding: 2px 6px;
                            border: 1px solid #394164;
                            color: #394164;
                            border-radius: 2px;
                            font-size: 16px;
                        }
                    }

                }
            }
            .opc-paciente{
                background-color: #59758d;
                margin: 30px 0 15px;
                padding: 14px 20px;
                box-shadow: 0 .2px .2px 0 rgba(0,0,0,.1);
                border-radius: 6px;
                color: #fff;
                display: flex;
                gap: 15px;
                align-items: center;
                span{
                    cursor: pointer;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    fill: #fff;
                }
                .hist{
                    background-color: #252733;
                    padding: 6px 10px;
                    color: #fff;
                    border-radius: 8px;
                    box-shadow: 0 .2px .3px 0 rgba(0,0,0,.1);
                    position: relative;
                    &:hover{
                        background-color: #252733e3;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        background-color: #59758d;
                        left: 50%;
                        transform: rotate(45deg) translateX(-50%);
                        bottom: -31px;
                        z-index: 0;
                        box-shadow: 0 .2px .3px 0 rgba(0,0,0,.1);
                    }
                }
            }
            .hist-opc-paciente{
                background-color: #fff;
                margin:30px 0;
                padding: 10px 20px;
                border-radius: 6px;
                box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                display: flex;
                gap: 15px;
                align-items: center;
                span{
                    cursor: pointer;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    fill: #fff;
                }
                .hist{
                    background-color: #252733;
                    padding: 4px 10px;
                    color: #fff;
                    border-radius: 8px;
                    box-shadow: 0 .2px .3px 0 rgba(0,0,0,.1);
                    position: relative;
                    font-size: 14px;
                    &:hover{
                        background-color: #252733e3;
                    }
                }
            }
        }
    }
}
.dados-pessoais,.outros{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    align-items: center;
    width: 100%;
    /* height: 200px; */
    gap: 20px;
    .img,.dados,.operacoes{
        background-color: #fff;
        height:100%;
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
        border-radius: 6px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .fle-d{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0px;
            box-shadow: none;
            border-radius: 0;
            background-color: #e7e7e7;
            justify-content: space-between;
            &:nth-child(odd) {
                background-color: #f1f1f1;
            }
            &:nth-child(1){
                margin-top: 0;
            }

            .dad{
                padding: 0px;
                display: block;
                padding: 10px 20px;
                box-shadow: none;
                border-radius: 0;
                label{
                    display: block;
                    color: #4e536b;
                    margin-bottom: 6px;
                }
                span{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #4e536b;
                    fill: #4e536b;
                    small{
                        background-color: #4fb5ff38;
                        height: 30px;
                        width: 30px;
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .asseg{
                        height: 100%;
                        width: 100%;
                        padding: 10px;
                        gap: 10px;
                        fill: green;
                        cursor: pointer;
                    }
                }

            }
        }
        &.img{
            img{
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
                border-radius: 2px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .butn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 10px;
            background-color: #59758d;
            fill: #fff;
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            border-radius: 6px;
            margin-top: 12px;
            box-shadow: 0 .2px .3px 0 rgba(0,0,0,.1);
            &:nth-child(1){
                margin-top: 0;
            }
            &:nth-last-child(1){
                background-color: #e75246;
                &:hover{
                     background-color: #e75146e8;
                }
            }
        }
    }
    .operacoes{
        display: block;
    }


}
.outros{
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    &:nth-child(1){
        margin-top: 0px;
    }
    .img{
        .titulo{
           span{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 500;
                color: #42505c;
                fill: #42505c;
                small{
                    background-color: #4fb5ff38;
                    height: 30px;
                    width: 30px;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.asseg{
                        fill: green;
                    }
                }

           }
        }
        .dados{
            padding: 0;
            span{
                white-space: nowrap;
            }
        }
    }

}

.modal{
    position: fixed;
    height: 100vh;
    background-color: #363638cf;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .corpo{
        background-color: #e7e7e7;
        width: 600px;
        border-radius: 10px;
        overflow: hidden;
        .titulo{
            height: 60px;
            background-color: #c3a40b;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            h1{
                color: #fff;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 10px;
                fill: #fff;
            }
            span{
                height: 21px;
                width: 21px;
                background-color: #e93b3bd6;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(45deg) ;
                border-radius: 50%;
                font-weight: 500;
                color: #fff;
                cursor: pointer;
                &:hover{
                    background-color: #e93b3bf8;
                }
            }
        }
        .conteudo{
            padding: 20px;
            a{
                white-space: nowrap;
            }
            .searc{
                position: relative;
                .flex{
                    display: flex;
                    width: 100%;
                    gap: 20px;
                    margin-bottom:20px;
                    justify-content: space-between;
                    .nome-p{
                        flex: 1;
                        color: #394164;
                        fill: #394164;
                        .paci{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h3{
                                font-size: 28px;
                                font-weight: 500;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                small{
                                    background-color: #4fb5ff38;
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 8px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    fill: #394164;
                                }
                            }
                            span{
                                font-weight: 500;
                            }
                        }
                        .datos{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-top: 10px;
                            span{
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                small{
                                    background-color: #4fb5ff38;
                                    border-radius: 4px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: 500;
                                    fill: #394164;
                                    padding: 6px 10px;
                                    gap: 6px;
                                    fill: green;
                                }
                            }
                        }
                    }
                    .add{
                        background-color: #589d14;
                        padding: 4px 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        text-decoration: none;
                        color: #fff;
                        fill: #fff;
                        border-radius: 4px;
                        &:hover{
                            background-color: #46810b;
                        }
                    }
                    .save{
                        padding:  10px 20px;
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        font-size: 16px;
                        letter-spacing: .3px;
                        font-weight: 400;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                        background-color: #0b5bb9;
                        color: #fff;
                        fill: #fff;
                        border-radius: 6px;
                        cursor: pointer;
                        justify-content: space-between;
                        &:hover{
                            background-color: #0b5cb9ea;
                        }
                    }
                    .cancel{
                        background-color: #1a191ab0;
                        &:hover{
                            background-color: #1a191ae0;
                        }
                    }
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                    .fl{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        span{
                            font-size: 20px;
                            color: #394164;
                        }
                        .radio-ch{
                            color: #394164;
                            .enf{
                                font-size: 18px;
                                font-weight: 500;
                            }
                            .aces{
                                display: flex;
                                margin-top: 10px;
                                .radioContainer{
                                    display: flex;
                                    position: relative;
                                    align-items: center;
                                    cursor: pointer;
                                    user-select: none;
                                    padding-left: 25px;
                                    margin-right: 15px;
                                    font-size: 16px;
                                    font-weight: 500;
                                    input{
                                        display: none;
                                        &:checked + .circle{
                                            background-color: #446df1;
                                            border: 1px solid #446df1;
                                            transition: all .5s;
                                            &::after{
                                                content: "";
                                                height: 8px;
                                                width: 8px;
                                                background-color: #fff;
                                                position: absolute;
                                                border-radius: 50%;
                                                top: 50%;
                                                left: 50%;
                                                transform: translate(-50%, -50%);
                                            }
                                        }
                                    }
                                    .circle{
                                        display: inline-block;
                                        width: 18px;
                                        height: 18px;
                                        background-color: #eee;
                                        border: 1px solid #ccc;
                                        position: absolute;
                                        border-radius: 50%;
                                        top: 0;
                                        left: 0;
                                    }
                                    &:hover .circle{
                                        background-color: #ccc
                                    }
                                }
                            }
                        }


                    }
                }
                .results{
                    width: 100%;
                    background-color: #fff;
                    top: 59px;
                    border-radius: 6px;
                    overflow: hidden;
                    position: absolute;
                    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
                    ul{
                        list-style: none;

                        li{
                            padding: 8px 10px;
                            /* background-color: red; */
                            font-size: 18px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: .5px solid #ccc;
                            cursor: pointer;
                            color: #323648;
                            &:hover{
                                background-color: #0000002d;
                            }
                            &:nth-last-child(1){
                                border: none;
                            }
                            span{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                img{
                                    height: 40px;
                                    width: 40px;
                                    object-fit: cover;
                                    box-shadow: 0 .2px .1px 0 rgba(0,0,0,.1);
                                }
                            }
                            .telefone,.ult-cons{
                                background-color: #4fb5ff38;
                                padding: 4px 8px;
                                border-radius: 4px;
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                color: #4e536b;
                                fill: #4e536b;
                            }

                        }
                    }
                }
            }

        }
    }
}

@media (min-width: 900px) {
    .chart-{
        background-color: #fff;
        padding: 30px 20px 0 10px;
        border-radius: 20px;
        overflow: hidden;
        flex: 1;
        width: 100px;
    }
}
